.success_signUp{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

h1 {
  color: #333;
  margin-top: 100px;
  font-size: 25px;
  margin-bottom: 20px;
}

button{
  width: 320px;
  height: 60px;
  font-size: 15px;
  line-height: 58px;
  border-radius: 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  background: #e4e4e4;
  margin-bottom: 200px;
}

button:hover{
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.441);
  background-color: rgba(128, 128, 128, 0.399);
}

a:visited{
  color: rgb(0, 0, 0);
}