.form-background{
  padding: 30px;
}

.form-white{
  background-color: white;
  padding: 30px;
  width: 80%;
  max-width: 600px;
  margin-top: auto;
}

.form-input{
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border: 1px solid rgb(213, 213, 213);
  border-radius:10px;
}

.w-50{
  width: 50%;
  float: left;
  padding: 10px;
}

.w-100{
  width: 100%;
  padding: 10px;
}

button{
  width: 320px;
  height: 60px;
  font-size: 15px;
  line-height: 58px;
  border-radius: 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
}

button:hover{
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.441);
  background-color: rgba(128, 128, 128, 0.399);
}

label{
  margin-bottom: 3px;
}

.birth_content{
  margin-left: 10px;
  margin-bottom: 3px;
}


/* birth */
#info__birth{
  margin-top: 25px;
}

#birth-year{
  border: 1px solid rgb(213, 213, 213);
  padding: 10px;
  border-radius: 10px;
  width: 50%;
  font-size: 15px;
  margin-left: 8px;
}

#birth-month{
  border: 1px solid rgb(213, 213, 213);
  padding: 10px;
  border-radius: 10px;
  width: 20%;
  font-size: 15px;
}

#birth-day{
  border: 1px solid rgb(213, 213, 213);
  padding: 10px;
  border-radius: 10px;
  width: 20%;
  font-size: 15px;
}

.send{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 30px;
}

/* address */
#adressBtn{
  width: 320px;
  height: 60px;
  font-size: 15px;
  line-height: 58px;
  border-radius: 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
}

#sample4_postcode{
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border: 1px solid rgb(213, 213, 213);
  border-radius:10px;
  margin: 10px 0 10px 0;
}

#sample4_roadAddress{
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border: 1px solid rgb(213, 213, 213);
  border-radius:10px;
  margin: 10px 0 10px 0;
}

#placeholder{
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border: 1px solid rgb(213, 213, 213);
  border-radius:10px;
}
