.blind {
    z-index: -1;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    text-indent: -9999px;
}

.loc-navi {
    font-size: 11px;
    text-align: right;
    border-bottom: 0;
    padding: 0;
    margin: 10px 0;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}

.loc-navi, .loc-navi a {
    color: #878787;
    text-transform: capitalize;
    vertical-align: top;
    line-height: 46px;
    text-decoration: none;
}

.cate-wrap{
    text-align: center;
    margin: auto;
}

img{
    margin: auto;
    display: block;
}

.bcate{
    margin-top: 50px;
    margin-bottom: 30px;
    color: #444;
    font-size: 30px;
}

.width1260{
    width: 1260px;
    margin: 0 auto;
    position: relative;
}

#productClass .cate-wrap .class-list ul li {
    display: inline-block;
    width: 20%;
    margin: 0 auto;
    padding: 0;
    line-height: 14px;
    vertical-align: top;
}

#productClass .cate-wrap .class-list ul li a {
    padding: 17px 30px;
    text-indent: 0px;
    font-weight: 400;
    color: #555;
    background: none;
    text-align: center;
    display: block;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    font-size: 18px;
    border: 1px solid #ccc;
    text-decoration: none;
}

/* .sel {
    background-color: #e3ead2;
    border: 1px solid #e3ead2; 
} */

/*js에서 넘어오는 id 적용안됨*/
.active {
    background-color: #e3ead2;
    border: 1px solid #e3ead2; 
    color: #000;
}

.item-wrap .item-info {
    zoom: 1;
    overflow: hidden;
    padding: 20px 10px 20px;
    margin-bottom: 40px;
}

.item-wrap .item-info .item-order li {
    float: left;
    padding: 0 15px;
    line-height: 12px;
    border-right: 1px solid #ddd;
}

.item-wrap .item-info .item-order li a {
    transition: .3s ease-in-out;
    font-size: 14px;
    color: #a6a6a6;
    line-height: 14px;
    vertical-align: top;
    font-weight: 200;
}

.item-wrap .item-info .item-order li.nobg {
    padding-right: 0;
    border-right: none;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .product {
    flex: 0 0 calc(25% - 20px);
    margin-bottom: 80px;
    box-sizing: border-box;
    text-align: center;
  }

  .product .box{
    margin: 0 auto;
    padding: 0;
    text-align: center;
    position: relative;
  }
  
  .product-image{

    width: 100%;
    font-size: 0;
    padding: 0;
    line-height: 0;
    border: 0px solid #e9e9e9;
    position: relative;
    background: #f4f4f4;
    margin-left: auto;
    margin-right: auto;
  }

  .product-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  
  .product-title {
    margin-top: 15px;
    font-weight: 300;
    font-size: 20px;
    color: #444;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 8px;
    padding-bottom: 8px;
    height: 80px;
  }
  
  .product-price {
    margin-top: 10px;
    font-weight: 700;
    color: #000;
    font-size: 24px;
  }

  .product .product-info{
    background: #fff;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    vertical-align: middle;
    width: 100%;
    display: inline-block;
    position: relative;
  }

  .paging a {
    display: inline-block;
    padding: 0 10px;
    height: 16px;
    font-size: 16px;
    color: #a6a6a6;
    font-family: 'Verdana';
    line-height: 16px;
    text-decoration: none;
}

.paging a:hover, .paging a.now, .paging .now {
    color: #2a2a2a;
}