#mypage {
    width: 1260px;
    min-height: 740px;
    margin: 0 auto;
}

#mypage .mypage-tit {
    padding: 120px 0 30px;
    font-size: 24px;
    color: #000;
    font-weight: bold;
    text-align: center;
    line-height: 24px;
}

.user .member {
    font-size: 40px;
    color: #2e2e2e;
    font-weight: bold;
    padding: 20px 0;
}

#mypage .user .user-info ul {
    text-align: center;
}

#mypage .user .user-info ul li {
    display: inline-block;
    padding-bottom: 10px;
}

#mypage .user .user-info ul li a {
    padding: 10px;
    font-size: 16px;
    color: #555;
}

.info {
    border: 1px solid #e9e9e9;
    overflow: hidden;
    text-align: center;
}

.info .user {
    margin-left: 35px;
    position: relative;
    border-right: 1px dashed #e9e9e9;
    padding-right: 35px;
}

#mypage .order {
    position: relative;
    margin-top: 50px;
}

#mypage .order h3 {
    font-size: 20px;
    color: #2e2e2e;
    font-weight: bold;
    line-height: 18px;
}

table {
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap: break-word;
    word-break: keep-all;
}

#mypage .tbl th {
    padding: 15px 0;
    font-size: 13px;
    color: #000;
    font-family: Verdana;
    font-weight: normal;
    border-top: 1px solid #000;
    border-bottom: 1px solid #e9e9e9;
}

.tb-center {
    text-align: center;
    font-size: 16px;
    padding: 0 10px;
}

#mypage .tbl td {
    padding: 15px 0;
    color: #343434;
    border-bottom: 1px solid #e9e9e9;
}