#mypage {
    width: 1260px;
    min-height: 740px;
    margin: 0 auto;
}

#mypage .mypage-tit {
    padding: 120px 0 30px;
    font-size: 24px;
    color: #000;
    font-weight: bold;
    text-align: center;
    line-height: 24px;
}

.user .member {
    font-size: 40px;
    color: #2e2e2e;
    font-weight: bold;
    padding: 20px 0;
}

#mypage .user .user-info ul {
    text-align: center;
}

#mypage .user .user-info ul li {
    display: inline-block;
    padding-bottom: 10px;
}

#mypage .user .user-info ul li a {
    padding: 10px;
    font-size: 16px;
    color: #555;
}

.info {
    border: 1px solid #e9e9e9;
    overflow: hidden;
    text-align: center;
}

.info .user {
    margin-left: 35px;
    position: relative;
    border-right: 1px dashed #e9e9e9;
    padding-right: 35px;
}

#mypage .order {
    position: relative;
    margin-top: 50px;
}

#mypage .order h3 {
    font-size: 20px;
    color: #2e2e2e;
    font-weight: bold;
    line-height: 18px;
}

table {
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap: break-word;
    word-break: keep-all;
}

#mypage .tbl th {
    padding: 15px 0;
    font-size: 13px;
    color: #000;
    font-family: Verdana;
    font-weight: normal;
    border-top: 1px solid #000;
    border-bottom: 1px solid #e9e9e9;
}

.tb-center {
    text-align: center;
    font-size: 16px;
    padding: 0 10px;
}

#mypage .tbl td {
    padding: 15px 0;
    color: #343434;
    border-bottom: 1px solid #e9e9e9;
}

/* 모달 스타일 */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
  
  .modal-content {
    background: white;
    width: 500px;
    height: 170px;
    margin: 100px auto;
    padding: 40px 20px;
    border-radius: 5px;
    font-size:x-large;
    text-align: center;
  }

  .modal-buttons {
    text-align: center;
    display: flex;
    justify-content: center; 
    margin-top: 40px; 
  }
  
  .modal-buttons button {
    font-size: medium;
    padding: 10px 20px;
    font-weight: 300;
  }
    